{% extends 'auth/base_auth.html' %}

{% block title %}登录{% endblock %}

{% block content %}
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">登录</h3>
                    <form method="post" novalidate>
                        <div class="form-group">
                            <label>用户名</label>
                            <input name="username" type="text" class="form-control" placeholder="用户名">
                        </div>
                        <div class="form-group">
                            <label>密码</label>
                            <input name="password" type="password" class="form-control" placeholder="密码">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">登录</button>
                    </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                        还没有账号？<a href="/register">注册</a>
                    </div>
                </div>
                <div class="text-center py-2">
                    <small>
                        <a href="/forget-password" class="text-muted">忘记密码？</a>
                    </small>
                </div>
            </div>
        </div>
{% endblock %}